.header {
    min-height: unset;
    background-image:none;
}

.arrow-bottom,
.header__title,
.header-center {
    display: none;
}

section {
    min-height: 100vh;
}

.form__login {
    max-width: 550px;
    margin: 0 auto;
    background: var(--white);
    min-width: 300px;
    padding: 20px;
}

.footer .arrow-block {
    display: none;
}

.form__login button {
    align-self: flex-start;
}

.form__btns button {
    width: 50%;
}