.header {
    min-height: unset;
    background-image:none;
}

.arrow-bottom,
.header__title,
.header-center {
    display: none;
}

.ads__list-users {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.ads__btn-active,
.active__item {
    background: #02ff02;
}

.ads__btn-found,
.found__item {
   background: var(--green);
}

.ads__btn-archive,
.archive__item {
    background: orange;
}

.ads__btn-moder,
.moder__item {
    background: yellow;
}