.header {
    min-height: unset;
    background-image:none;
}

.arrow-bottom,
.header__title,
.header-center {
    display: none;
}

.form-full-search {
    margin: 0;
}

.img__animal {
    min-width: 100%;
    height: 100px;
    background-image: url("../img/cat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search__list-title,
.search__list-items li {
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

.search__list-items {
    border-left: 5px solid var(--white);
    border-right: 5px solid var(--white);
    border-bottom: 5px solid var(--white);
}

.search__list-items li:not(:last-child) {
    border-bottom: 5px solid var(--black);
}

.section-search-table .container {
    max-width: 1800px;
}